<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>42</title>
</head>
<body>
    {{$wisdom := .}}
    <p>
        Le sens de la vie c'est {{$wisdom}}.
    </p>
    <p>
        Ceci est bien le sens de la vie : {{$wisdom}}

    </p>
</body>
</html>