<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello Gophers</h1>
    {{if .}}
    <p><u>Vous avez été redirigé</u> à la page racine</p>
    {{else}}
    <p>Aucune redirection : pour tester</p>
    <form action="/redirection" method="post">
        <input type="submit">
    </form>

    {{end}}
</body>

</html>