<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des cookies</title>
</head>
<body>
    <p>Les données enregistrées sont <br>
    {{.Name}} = {{.Value}}
    </p>
    <a href="http://localhost:8080/lire">Pour lire le contenu du cookie</a>
</body>
</html>