<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post" enctype="text/plain">
    <input type="file" name="fichier">
    <br>
<input type="submit">

{{if .}}
<br>
<h2>Contenu du fichier</h2>
<p>
    {{.}}
</p>
{{end}}
</form>
</body>
</html>