<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon compte</title>
</head>
<body>
    <h1>
        Hello{{ if .New}} le nouveau gopher{{end}},
    </h1>
    <p>
        Prénom : {{.Prenom}}
    </p>
    <p>
        Nom : {{.Nom}}
    </p>
    <p>
        Nom d'utilisateur {{.Username}}
    </p>
    <p>
        Mot de passe {{.MotDePasse}}
    </p>
    <p>
        <a href="/logout">Déconnexion</a>
    </p>
</body>
</html>