<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello, Gopher</h1>
{{if .}}
<p>
    <a href="/compte">Connexion à mon compte</a>
</p>
<p>
    <a href="/logout">Déconnexion de mon compte</a>
</p>
{{else}}
<p>Déjà inscrit ?<a href="./login">Connexion ici</a></p>
<p>Pas inscrit ? <a href="./inscription">s'inscrire ici</a></p>
{{end}}
</body>

</html>