<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Résultat</h2>
    {{if .}}
    <p>Auteur : {{.Auteur.Prenom}} {{.Auteur.Nom}}</p>
    <p>Titre de l'ouvrage : {{.Titre}}</p>
    <p>ISBN : {{.ISBN}}</p>
    <p>Pages : {{.NbPages}} pg</p>
    {{end}}
</body>
</html>