<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire et Go</title>
</head>
<body>
    <!--S'il y a des données le code ci-dessous est activé-->
    {{if .}}
    <main>
        <p><strong>Noms de variable</strong> (id) et <em>valeurs : </em></p>
        {{range $cle, $val := .}}
            <p><strong>{{$cle}}</strong></p>
            <ul>
                {{range $val}}
                    <li>
                        <em>{{.}}</em>
                    </li>
                {{end}}
            </ul>
        {{end}}
    </main>
    {{end}}

    <form action="/?var=bidule" method="POST">
        <input type="text" name="fnom" placeholder="prenom" autofocus autocomplete="off">
        <input type="submit" name="btn-submit" value="texte du bouton">
    </form>
</body>
</html>