<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  method="post">
        <label for="prenom">Prénom</label>
        <input type="text" name="prenom" id="prenom">
        <br>
        <label for="nom">Nom</label>
        <input type="text" name="nom" id="nom">
        <br>
        <input type="submit">
    </form>

    <br>
{{if and (ne .Prenom "") (ne .Nom "")}}
    <p>Prénom : {{.Prenom}}</p>
    <p>Nom : {{.Nom}}</p>
{{else}}
    <p>Veuillez renseigner les deux champs.</p>
{{end}}
</body>
</html>