<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de connexion</title>
</head>
<body>
    {{if .}}
        <p style="font-weight: bold; color: red;">Le nom d'utilisateur et ou le mot de passe est faux.</p>
    {{end}}
    <form action="/login" method="post">

        <label for="username">Nom d'utilisateur</label>
        <input type="text" name="username">
        <br>
        <label for="motdepasse">Mot de passe</label>
        <input type="password" name="motdepasse">
        <br>
        <input type="submit" value="Se connecter">
    </form>
</body>
</html>