<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="fichier">
        <input type="submit">
    </form>
    <br>
    {{if .}}
    <p>Contenu :<br> {{.}}</p>
    {{end}}
</body>
</html>